[Rich Presence]

client_id=577508122629767179

[In VM]

large_image={version_image}
large_text={os_hf} - {version_hf}
small_image=
small_text=
details={version_hf} ({architecture}-bit)
state=In a Virtual Machine

[In Menu]

large_image={icon}
large_text=VirtualBox
small_image=
small_text=
details=
state=In Menu