[Rich Presence]

client_id=577508122629767179

[In Machine]

large_image={os version image}
large_text={os name} - {os version name}
small_image={architecture image}
small_text= {architecture}-bit
details={os version name} ({architecture}-bit)
state=In a Virtual Machine

[In Menu]

large_image={icon}
large_text=VirtualBox
small_image=
small_text=
details=
state=In Menu